
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

# Data & models (keep small samples only)
**/data/raw/*
**/data/external/*
**/models/*
!**/.gitkeep

# Outputs
**/outputs/*
!**/.gitkeep

# Large archives
*.zip
*.tar.gz
